production/crm/automation*                @corqueeuvia

production/crm/contactmgmt*               @colorisaw

development/crm/automation*               @corqueeuvia

development/crm/contactmgmt*              @colorisaw